<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>restourant name:</label><input type="text" name="res_name" value="{{data.name}}">
     <label>restourant location:</label><input type="text" name="res_location" value="{{data.location}}">
     <label>restoutant image:</label><input type="file" name="res_image" value="{{data.image}}">
    <input type="submit" value="edit save">
</form>
</body>
</html>