<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" >
    {% csrf_token %}
    <label>food name:</label><input type="text" name="fdname" value="{{data.food_name}}">
     <label>is_veg:</label><input type="text" name="isveg" value="{{data.is_veg}}">
     <label>price:</label><input type="number" name="price" value="{{data.price}}">
  <label>restourant id:</label><div><label>restourant lists:</label><select name = "res" id="sel">
    {% for i in mdata %}
    <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}



 </select>
 </div>
    <input type="submit" value="edit save">
</form>
</body>
</html>