<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>user_id:</label><input type="number" name="u_id" value="{{order-data.user_id}}">
     <label>food-id:</label><input type="number" name="f_id" value="{{order_data.food_id}}">
     <label>quantity:</label><input type="number" name="quan" value="{{order_data.quantity}}">
  <label>total amount:</label><input type="number" name="amnt" value="{{order_data.total_amount}">
  <label>status:</label><input type="text" name="ststs" value="{{order_data.status}}">
    <input type="submit" value="edit save">
</form>
</body>
</html>