<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
    <style>
        h1{
        background-color:blue;
        }
        .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
    </style>
</head>
<body>
<h1>Welcome {{user}}</h1>
<br>
<br>
<h3>Your Name:{{user}}</h3>
<h3> Your Email-id:{{user}}</h3>
<h3>ADD PROFILE PICTURE:</h3>
<form  action="{% url 'profilee' %}" method="post">
    {% csrf_token %}
<!--    <input type="file" name="dp">-->
    <input type="email" name="emaill">
    <input type="text" name="ji">
    <input type="submit">
</form>

<h1>PROFILE:<img src="static/img/product-1.jpg" alt="Avatar" class="avatar"></h1>
{% for i in p_datas %}
    <h3>{{i.emailid}}</h3>
    <h3>{{i.jiii}}</h3>
{% endfor %}
</body>
</html>