{% extends 'slice/layout.html' %}

{% block body %}

    <!-- Contact Start -->
<section class="sign-in" style="margin-top:70px;">
  <div class="container">
      <div class="signin-content">
          <div class="signin-image">
              <figure><img src="static/img/pizza-g04d2cb425_1920.jpg" alt="sing up image"></figure>
              <a href="{% url 'restourant_menu' %}" class="signup-image-link">ADD RESTAURANT MENU</a>
          </div>

          <div class="signin-form">
              <h2 class="form-title">Add Restaurant</h2>
              <form action="" method="POST" class="register-form" id="login-form"  enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="form-group">
                      <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="text" name="restourant_name" id="your_name" placeholder="Name" required minlength="5"/>
                  </div>
                  <div class="form-group">
                      <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="text" name="restourantlocation" id="your_pass" placeholder="location" minlength="5" required/>
                  </div>
                  <div class="form-group">
                      <label for="your_logo"><i class="zmdi zmdi-lock"></i></label>
                      <input type="file" name="restourant_logo" id="your_logo" placeholder="logo" required/>
                  </div>

                  <div class="form-group form-button">
                      <input type="submit" name="signin" id="signin" class="form-submit" value="ADD"/>
                  </div>
              </form>
  </div>
      </div>
  </div>
</section>

 <div class="container-xxl py-6" style="width:100%;">
        <div class="container">
            <h1 style="color:red;">RESTAURANTS DATA</h1>
            <table border="3" width="100%">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td> {{i.location}} </td>
                    <td><img src="{{i.image.url}}" alt="error loading image" height="100px" width="100px"></td>
                    <td>
                     <a href="{% url 'editing' i.id %}"><button>edit</button></a>
                     <a href="{% url 'delete' i.id %}"><button>delete</button></a>
         </td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}













