{% extends 'slice/layout.html' %}

{% block body %}

<!--         Sign up form -->
        <div class="main">

            <!-- Sign up form -->
            <section class="signup">
        
            <div class="container" style="width:80%;">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Add Restaurant Menu</h2>
                        <form action="{% url 'restourant_menu' %}" method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="food_name" id="name" placeholder=" Enter Food Name" minlength="5" required/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="number" name="food_price" id="pass" placeholder=" Enter Food Price" required min="0"/>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="is_veg" id="remember-me" class="agree-term tocheck-true" value="True" checked />
                                <label for="remember-me" class="label-agree-term tocheck-false"><span><span></span></span>VEGETARIAN</label>
                            </div>
                           
                            <div class="form-group">
                                <input type="radio" name="is_veg" id="remember-meE" class="agree-term tocheck-true" value="False" />
                                <label for="remember-meE" class="label-agree-term tocheck-false"><span><span></span></span>NON-VEGETARIAN</label>
                            </div>
                            
                            <div class="form-group">
                                <label for="sel" style="font-size:20px;">Restaurant List</label><br><br>
                                <label for="sel"><i class="zmdi zmdi-lock-outline"></i></label>
                                <select name = "res" id="sel"> 
                                    {% for i in data %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="ADD MENU"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="static/img/pizza-g04d2cb425_1920.jpg" alt="sing up image"></figure>
                        <a href="{% url 'addrestaurants' %}" class="signup-image-link">ADD RESTAURANT</a>
                    </div>
                </div>
            </div>
            </section>
        </div>
        
    

<div class="container-xxl py-6" style="background-color:pink; width:100%;">
        <div class="container">
            <h1 style="color:red;">RESTAURANTS MENU</h1>
            <table border="3" width="100%">
                <tr>
                    <th>ID</th>
                    <th>FOOD Name</th>
                    <th>IS VEG????</th>
                    <th> FOOD PRICE</th>

                    <th>restourant_id</th>
                    <th>Actions</th>
                </tr>
                {% for i in food_data %}
                <tr>

                <td>{{i.id}}</td>
                <td>{{i.food_name}}</td>
                <td>{{i.is_veg}}</td>
                <td>{{i.price}}</td>
                    <td>{{i.restourant_id.name}}</td>

                <td>
                    <a href="{% url 'menu_edit' i.id %}">edit</a>
                    <a href="{% url 'menu_delete' i.id %}">delete</a>
                </td>

                </tr>
                 {% endfor %}


            </table>
        </div>
</div>
<form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<script>

</script>
{% endblock %}