{% extends 'slice/layout.html' %}

{% block body %}
<!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">RESTOURANT MENU</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Contact Us</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Contact Start -->
<h1 style="color:green; text-align:center;">RESTOURANT MENU:</h1>
<div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form action="{% url 'registers' %}" method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="confirmation" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="static/img/pizza-g04d2cb425_1920.jpg" alt="sing up image"></figure>
                        <a href="{% url 'logins' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!--<form  style="background-color:black;" class="row g-3 needs-validation" action="{% url 'restourant_menu'  %}" method="post" enctype="multipart/form-data" novalidate>-->
<!--  {% csrf_token %}-->
<!--    {{id}}-->
<!--    <div class="col-md-4">-->
<!--        <div><label for="validationCustom01" class="form-label">FOOD name</label>-->

<!--    <input type="text" class="form-control" id="validationCustom01" placeholder="enter food name" name="food_name" minlength="5" required></div>-->
<!--    <div class="valid-feedback">-->
<!--      Looks good!-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-4">-->

<!--    <div class="valid-feedback">-->
<!--      Looks good!-->
<!--    </div>-->
<!--  </div>-->

<!--    <div>-->
<!--    Is veg:YES<input type="radio" name="is_veg" id="validationCustom02" value="True" required checked>-->
<!--       NO<input type="radio" name="is_veg" id="validationCastom02" value="False" >-->
<!--        </div>-->
<!--    <div class="col-md-4">-->
<!--    <div><label for="validationCustom02" class="form-label">food price</label>-->
<!--    <input type="number" class="form-control"  placeholder="food price"  name="food_price" required></div>-->
<!--    <div class="valid-feedback">-->
<!--      Looks good!-->
<!--    </div>-->
<!--  </div>-->
<!-- <div><label>restourant lists:</label><select name = "res" id="sel">-->
<!--   {% for i in data %}-->
<!--    <option value="{{i.id}}">{{i.name}}</option>-->
<!--   {% endfor %}-->


<!-- </select>-->
<!-- </div>-->

<!--  <div class="col-12">-->
<!--    <button class="btn btn-primary" type="submit">Submit now</button>-->
<!--  </div>-->
<!--</form>-->
<div class="container-xxl py-6" style="background-color:pink; width:100%;">
        <div class="container">
            <h1 style="color:red;">RESTAURANTS DATA</h1>
            <table border="3" width="100%">
                <tr>
                    <th>ID</th>
                    <th>FOOD Name</th>
                    <th>IS VEG????</th>
                    <th> FOOD PRICE</th>

                    <th>restourant_id</th>
                    <th>Actions</th>
                </tr>
                {% for i in food_data %}
                <tr>

                <td>{{i.id}}</td>
                <td>{{i.food_name}}</td>
                <td>{{i.is_veg}}</td>
                <td>{{i.price}}</td>
                    <td>{{i.restourant_id.name}}</td>

                <td>
                    <a href="{% url 'menu_edit' i.id %}">edit</a>
                    <a href="{% url 'menu_delete' i.id %}">delete</a>
                </td>

                </tr>
                 {% endfor %}


            </table>
        </div>
</div>
{% endblock %}